/* body{
    background-color: #2C2D2D;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mainContainer{
    width: 100vw;
    height: 100%;
    color: black;
    background-color: white;
    text-align: center;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 50px;
}
.mainContainer-head{
    width: 80%;
    display: flex;
    justify-content: space-between;
    color: black;
    align-items: center;
}
.addTodo{
    width: 100px;
    height: 30px;
    text-decoration: none;
    font-size: 17px;
    color: white;
    background-color: green;
    padding-top: 7px;
}
.mainContainer-headTitle{
    font-size: 25px;
    
}
.containerTable{
    /* border: 1px solid black; */
    border-collapse: collapse;
    width: 800px;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}
.containerTable th, .containerTable td {
    padding: 12px 15px;
    border: 1px solid #080808;
}
.containerTable td{
  color: gray;
}

.containerTable td:nth-child(5) {
    
}
.actionButton{
    width: 50px;
    cursor: pointer;
    
}
.actionButton:hover{
   opacity: 0.5;
}
.actionButton-delete{
    background-color: red;
}
.actionButton-edit{
    background-color: blue;
}
.editTodo{
    text-decoration: none;
    color: #080808;
}

.displayCheckbox-error{
    position: absolute;
    top: 190px;
    color: red;
}


